

*{/*propriedade serão aplicada a todosos elementos da tela*/
    box-sizing: border-box;/*"border-box" este tamanho vai incluir sim tanto o pading quanto o border
                            "content-box" vem por padrão, o tamanho de um elemnento e definido pelo conteúdo dele, isso não conta o pading quanto o border*/
}
body{
    margin: 1;
}
img{
    width: max(50%, 300px);
    max-width: 800px;
    margin: auto;

}
.container{
    width: cal(100% - 20px); /*cria uma "margem" na minha tela calculada e sempre nos 20px) podendo utilizar varias unidades de medida*/
    height: 200%;
    background-color: #ccc;
    padding-top: 5px;


}








