

*{/*propriedade serão aplicada a todosos elementos da tela*/
    box-sizing: border-box;/*"border-box" este tamanho vai incluir sim tanto o pading quanto o border
                            "content-box" vem por padrão, o tamanho de um elemnento e definido pelo conteúdo dele, isso não conta o pading quanto o border*/
}

body{
    display: flex;
     margin: 0;  
}


@media (aspect-ratio: 1/1){/*só aplica as prpriedades se a tela estiver na proporção 1 para 1*/
    body{
        background-color: red;/* no caso da tela estar na proporção correta ficara vermelha*/
    }
}
@media (min-aspect-ratio: 2/1){/*significa que a altura tem que valer 2 e a largura valer 1*/
    body{
        background-color:#fcd;/* no caso da tela estar na proporção correta aplica a cor específica*/
    }
}
@media (max-aspect-ratio: 1/2){/*significa que a altura tem que valer 1 e a largura valer 2*/
    body{
        background-color:rgb(168, 151, 157);/* no caso da tela estar na proporção correta aplica a cor específica*/
    }
}









